{# /views/saludo.html.twig #}
{% extends "layout.html.twig" %}
{% block title %} Turnos {% endblock %}
{% block contenido %}
    <h2>Bienvenido {{nombre}}</h2>
    <p>Hola soy Frame y te saludo desde una plantilla Twig</p>
    <p><a href="index.php?p=inicio">Volver a inicio</a></p>
{% endblock %}